<%= stylesheet_link_tag "simpleLightbox.min" %>
<%= javascript_include_tag "simpleLightbox.min" %>
<%= stylesheet_link_tag "image_galleries" %>

<%# debug line to view how many images per category %>
<%# data.images[category].length %>

<div class="images-container flex-container">
  <% data.images[category].each do |image| %>

    <div class="image flex-item">
      <% link = url_for "/multimedia/images/#{image["id"]}/index.html" %>
      <% label = "#{image["title"]}<br/><a href='#{link}' target='blank' rel='nofollow noopener'>View More Information</a>" %>

      <h3><%= image["title"] %> (<%= image["year"] %>)</h3>

      <%# middleman doesn't like link_to inside of <a> tag %>

      <a class="gallery"
        href="<%= url_for "images/content/large/#{image["id"]}.jpg" %>"
        title="<%= label %>">
        <%= image_tag "images/content/small/#{image["id"]}.jpg", class: "thumbnail", alt: image["title"] %>
        <span class="imagecaption">View larger image</span>
      </a>

      <ul>
        <% if image["date"] %>
          <li><strong>Date:</strong> <%= image["date"] %></li>
        <% end %>
        <li><strong>Desc:</strong> <%= image["description"] %></li>
        <li><strong>Collection:</strong> <%= image["collection"] %></li>
        <%# UCOMM creators are implied in the collection name, so leaving out for brevity! %>
        <% if image["creator"] && !image["creator"].include?("University Communications") %>
          <li><strong>Creator:</strong> <%= image["creator"] %></li>
        <% end %>
        <li><strong>ID:</strong> <%= image["id"] %></li>
      </ul>
    
     <%= link_to "View More Information", "/multimedia/images/#{image["id"]}/index.html", class: "btn btn-sm btn-secondary btn-block btn-moreinformation" %>
  </div>
  <% end %>
</div>

<script>
  new SimpleLightbox({elements: '.gallery'});
</script>
