<div class="images-container flex-container">
  <% data.images[category].each do |image| %>
    <% html_id = image["id"].gsub(".", "") %>
    <div class="image flex-item">
      <h3><%= image["title"] %> (<%= image["year"] %>)</h3>
      <%= image_tag "images/content/small/#{image["id"]}.jpg", class: "thumbnail" %>
      <ul>
        <li>ID: <%= image["id"] %></li>
        <li>Date: <%= image["date"] %></li>
        <li>Desc: <%= image["description"] %></li>
      </ul>
    </div>
  <% end %>
</div>
