---
title: The Band from Above | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "aerial" } %>

<h2>The Band from Above</h2>

<p class="lead">The classic view of a marching band halftime show is from the stands. What better way to see the band's formations and the accompanying card section? More aerial views of the band are available on the <%= link_to "footage", "/multimedia/footage.html" %> page.</p>

<%= partial "image_gallery", locals: { category: "aerial" } %> 
