<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <!-- bootstrap 4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- TODO check if fonts are necessary -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,900' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>

  <body id="page-top">

  <div class="container">

    <header role="banner">

      <nav class="navbar navbar-expand-lg navbar-dark">
        <%= link_to "Band History", "index.html", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% path = current_page.url %>
            <li class="nav-item <%= 'active' if path.include?('/footage/') %>">
              <!-- TODO follow this example for how to make it apparent to screenreader -->
              <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
              <!-- TODO add actual active classes -->
              <%= link_to "Footage", "footage", class: "nav-link" %>
            </li>
            <li class="nav-item <%= 'active' if path.include?('/stories/') %>">
              <%= link_to "Stories", "stories", class: "nav-link" %>
            </li>
            <li class="nav-item <%= 'active' if path == '/timeline/' %>">
              <%= link_to "Timeline", "timeline", class: "nav-link" %>
              <!-- TODO how to disable if we need that -->
              <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
            </li>
            <li class="nav-item <%= 'active' if path == '/about/' %>">
              <%= link_to "About", "about", class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>

    <div class="footer">
      <p class="logo_container">
        <%= image_tag "images/UNL_logo.png" %>
        Support provided by <a href="https://cdrh.unl.edu/">Center for Digital Research in the Humanities</a> and the <a href="https://www.unl.edu/">University of Nebraska-Lincoln</a><br/>
      </p>
    </div>
  </div>

  <%= partial "partials/core-js" %>

</body>
</html>
