---
title: Footage | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<h2>Footage</h2>

<p>The digitization of the footage below was made possible through the generous support of Gary Steffens, the Band Alumni Association, and the Center for Digital Research in the Humanities. Longer reels were split up into shorter clips to allow browsing by topic. For this reason not all of the clips contain footage of the band, but may have been part of a reel with footage of the band members in an earlier or later portion.</p>

<p>Browsing this silent film through the decades, the change to drill styles is particularly noticeable. Also present are the alterations to Memorial Stadium and traditions such as the card section.</p>

<div class="filters">
  <div class="filters-topic">
    <h3>Filter Projects by Topic:</h3>

    <% tally_filter(data.clips, "keywords").each do |decade_id, num| %>
      <button class="btn btn-filter btn-secondary" onclick="filter(this);"
        id="<%= decade_id %>"><%= decade_id.titleize %> <span class="badge"><%= num %></span>
      </button>
    <% end %>
    <button class="btn btn-filter btn-warning" onclick="filterClear();">
      Clear Filter <span class="badge">X</span>
    </button>
  </div>

  <div class="filters-decade">
    <h3>Filter Projects by Decade:</h3>

    <% tally_filter(data.clips, "decade").each do |decade_id, num| %>
      <button class="btn btn-filter btn-secondary" onclick="filter(this);"
        id="<%= decade_id %>">
        <% label = decade_id == "decade-unknown" ? "Unknown" :
            "#{decade_id.titleize.gsub("Decade ", "")}s" %>
        <%= label %> <span class="badge"><%= num %></span>
      </button>
    <% end %>
    <button class="btn btn-filter btn-warning" onclick="filterClear();">
      Clear Filter <span class="badge">X</span>
    </button>
  </div>

</div>

<div class="videos-container flex-container">
  <% data.clips.each do |id, info| %>
    <% html_id = id.gsub(".", "") %>
    <a href="#<%= html_id %>" onclick="$('#<%= html_id %>').modal('show')" class="video flex-item <%= info["keywords"] %> <%= info["decade"] %>">
      <h3><%= info["year_estimate"] %></h3>
     
      <%= image_tag "images/video_thumbs/#{id}.jpg", class: "thumbnail" %>
      <p><%= info["desc"] %></p>
      <p>Reel: <%= info["archives_id"] %></p>
    </a>

    <!-- Video modal -->
    <div class="modal fade" id="<%= html_id %>" tabindex="-1" role="dialog"
      aria-labelledby="<%= html_id %>" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="<%= id %>"><%= info["year_estimate"] %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <video controls preload="none" poster="../../images/video_thumbs/<%= id %>.jpg">
              <% video_link = url_for "../videos/#{id}.mp4" %>
              <source src="<%= video_link %>" type="video/mp4">
              <p>Your browser doesn't support HTML5 video. Here is
                 a <%= link_to "link to the video", video_link %> instead.</p>
            </video>
            <h6>Clip Information</h6>
            <ul>
              <li><strong>Date:</strong> <%= info["year_estimate"] %></li>
              <li><strong>Reel Seconds:</strong> <%= info["reel_time"] %></li>
              <li><strong>Description:</strong> <%= info["desc"] %></li>
            </ul>

            <h6>Reel Information</h6>
            <ul>
              <li><strong>Reel:</strong> <%= info["archives_id"] %></li>
              <li><strong>Format:</strong> <%= info["format"] %></li>
              <li><strong>Record Group:</strong> <%= info["record_group"] %>, University of Nebraska Archives and Special Collections</li>
              <li><strong>Reel Description:</strong> <%= info["archives_desc"] %></li>
              <li><a href="<%= info["commons_link"] %>">Mediacommons Link (external)</a></li>
              <li><strong>Digitization Sponsor:</strong> <%= info["sponsor"] %></li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-filter btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
