<div class="content-<%= direction %>-container">
  <div class="content-<%= direction %>">
    <h3><%= title %></h3>

    <!-- more info -->
    <p><a data-toggle="collapse" href="#<%= id %>" role="button"
       aria-expanded="false" aria-controls="<%= id %>">
        <%= image_tag "images/content/small/#{image}", class: "preview" %>
        Learn More
    </a></p>

    <!-- image -->
    <% if image %>
      <a class="gallery"
         href="<%= url_for "images/content/large/#{image}" %>"
         title="<%= image_caption %><br/><%= image_attr %>">
         View larger image
      </a>
    <% end %>

    <!-- contents -->
    <div class="collapse" id="<%= id %>">
      <div class="card card-body">
        <%= yield %>
        <div class="image_attribution">
          Image: <%= image_attr %>
        </div>
      </div>
    </div>
  </div>
</div>
