---
title: Footage | Band History
---

<h2>Footage</h2>

<strong>Filtering is a work in progress, it probably makes sense to start whittling down the keyword field to only reflect those we find particularly interesting or useful</strong>

<div class="filters">
  <div class="filters-topic">
    <p>Filter Projects by Topic:</p>

    <% tally_filter(data.clips, "keywords").each do |decade_id, num| %>
      <button class="btn btn-filter btn-secondary" onclick="filter(this);"
        id="<%= decade_id %>"><%= decade_id.titleize %> <span class="badge"><%= num %></span>
      </button>
    <% end %>
  </div>

  <div class="filters-decade">
    <p>Filter Projects by Decade:</p>

    <% tally_filter(data.clips, "decade").each do |decade_id, num| %>
      <button class="btn btn-filter btn-secondary" onclick="filter(this);"
        id="<%= decade_id %>"><%= decade_id.titleize %> <span class="badge"><%= num %></span>
      </button>
    <% end %>
  </div>

</div>

<div class="videos-container">
  <% data.clips.each do |id, info| %>
    <div class="video <%= info["keywords"] %> <%= info["decade"] %>">
      <h3><%= info["year_estimate"] %></h3>
      <a href="#" data-toggle="modal" data-target="#<%= id %>Modal">
        <!-- <a href="https://mediacommons.unl.edu/luna/servlet/s/699s3w"> -->
        <%= image_tag "images/video_thumbs/#{id}.png", class: "thumbnail" %>
        <!-- </a> -->
        <p><%= info["desc"] %></p>
        <!-- Button trigger modal -->
      </a>
    </div>
  <!-- Video modal -->
  <div class="modal fade" id="<%= id %>Modal" tabindex="-1" role="dialog"
    aria-labelledby="<%= id %>ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%= id %>ModalLabel"><%= info["year_estimate"] %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <video controls preload="none">
            <% video_link = url_for "../videos/#{id}.mp4" %>
            <source src="<%= video_link %>" type="video/mp4">
            <p>Your browser doesn't support HTML5 video. Here is
               a <%= link_to "link to the video", video_link %> instead.</p>
          </video>
          <p><%= info["desc"] %></p>
          <ul>
            <li><strong>Reel:</strong> <%= info["reel"] %></li>
            <li><strong>Date:</strong> <%= info["year_estimate"] %></li>
            <li><strong>TODO source</strong></li>
            <li><strong>TODO archives box and info</strong></li>
            <li><a href="<%= info["commons_link"] %>">Mediacommons Link (external)</a></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-filter btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>


</div>
