---
title: Stories | Band History
---

<h2>Stories</h2>

<p>Links to more content like essays (by us), interviews of former band members, etc.  Could be listed here or linked from timeline.</p>

<div class="topics-container">

  <div class="topic">
    <h3>Military Foundation</h3>
    <%= image_tag "images/video_thumbs/02.jpeg", class: "thumbnail" %>
    <p>The band started as a 12 person group intended to accompany student military drill exercises</p>
  </div>

  <div class="topic">
    <h3>Band Day</h3>
    <%= image_tag "images/video_thumbs/reel3.jpeg", class: "thumbnail" %>
    <p>Information about Band Day history</p>
  </div>

  <div class="topic">
    <h3>Women in WWII</h3>
    <%= image_tag "images/video_thumbs/02.jpeg", class: "thumbnail" %>
    <p>1943 and the university concert band</p>
  </div>

  <div class="topic">
    <h3>The Rose Bowl</h3>
    <%= image_tag "images/video_thumbs/02.jpeg", class: "thumbnail" %>
    <p>Stories and traditions from a memorable trip</p>
  </div>

  <div class="topic">
    <h3>Leadership and Directors</h3>
    <%= image_tag "images/video_thumbs/02.jpeg", class: "thumbnail" %>
    <p>Biographies of the many people who led the band throughout history</p>
  </div>

</div>
<p></p>
